body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    background: #BDAE8F;
}

header {
    background-color: #4C2B12;
    margin: 100%;
    padding: 10%;
    height: 200px;
    border-radius: 4px;
    border: 3px #683e1e;
    text-align: center;
}

h1 {
    color: #dbb179;
}

img {
    display: inline-block;
    width: 600px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    border: 2px #4C2B12;
    border-radius: 10px;
}
p{
    color: #815737;
}
h2{
    color: #5f3b1f;
}